.Sidepanel {
  background-color: #142133;
  padding: 1em;
  color: #f0f6fc;
  height: 100vh;
  overflow: clip;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%; /* Largura fixa para o painel lateral */
}

.Sidepanel div {
  margin: 0;
}

a {
  color: #58a6ff;
  text-decoration: none;
  font-size: 1em; /* Tamanho de fonte padrão para links */
}

body {
  background-color: #1d2d44;
  color: #f0f6fc;
  transition: filter 0.3s ease;
  margin-left: 200px; /* Margem esquerda para acomodar o painel lateral */
  padding: 20px;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.content {
  -webkit-columns: 2 100px;
  -moz-columns: 2 100px;
  columns: 2 100px;
}

.content img {
  width: 100%;
  object-fit: cover;
}

.indented-element-certification {
  margin-left: 65%; 
  color: #f0f6fc;
}

.indented-element {
  margin-left: 20%; 
  color: #f0f6fc;
}

.bot-padded {
  color: #f0f6fc;
  padding-bottom: 1cm;
}

.footer {
  padding-top: 1.2cm;
}

.button-1 { /* peguei em um site */
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 80px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1em; 
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-bottom: 10px; /* Espaçamento entre os botões */
}

.button-1:hover,
.button-1:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-1:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-1:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

ul {
  list-style-type: none;
  width: 500px;
}

.flex-container {
  display: flex;
}

.certification-text {
  padding-left: 2cm;
  padding-top: 2cm;
}

@media (max-width: 768px) {
  .Sidepanel {
      width: 100%;
      height: auto;
      position: static;
  }

  body {
      margin-left: 0; 
  }

  .button-1 {
      font-size: 0.9em;
      margin-bottom: 5px; 
  }
}